includes:
  - ../../../../vendor/mglaman/phpstan-drupal/extension.neon
  - ../../../../vendor/mglaman/phpstan-drupal/rules.neon

parameters:
  level: 6
  paths:
    - src
    - tests
  checkGenericClassInNonGenericObjectType: false
  treatPhpDocTypesAsCertain: false

  # Let PHPStan load simple stubs for Update Manager globals.
  bootstrapFiles:
    - phpstan-stubs.php